config VIDEO_EXYNOS_FIMC_IS
	bool "Exynos FIMC-IS (Image Subsystem) driver"
	depends on VIDEO_EXYNOS
	select MEDIA_EXYNOS
	select USE_VENDER_FEATURE if SEC_DEBUG
	default n
	help
	  This is a v4l2 driver for exynos FIMC-IS device.
config CAMERA_EEPROM_SUPPORT
        bool "Enable to eeprom"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable to eeprom.
config COMPANION_USE
        bool "Enable to companion"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable to companion.
config OIS_USE
        bool "Enable to ois"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable to ois.
config OIS_FW_UPDATE_THREAD_USE
        bool "Enable to ois fw update thread"
        depends on OIS_USE
        default n
        help
          Enable to ois fw update thread.
config AF_HOST_CONTROL
        bool "Enable to af control"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable to af control.
config USE_VENDER_FEATURE
	bool "Use vendor specific features"
        depends on VIDEO_EXYNOS_FIMC_IS
	default n
	help
          Enable to use the vender.
config CAMERA_SENSOR_8B1
        bool "Use 8B1 camera sensor"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Use 8B1 camera sensor.
config CAMERA_SENSOR_6D1
        bool "Use 6D1 camera sensor"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Use 6D1 camera sensor.
