menuconfig ION
	tristate "Ion Memory Manager"
	depends on ARM
	select GENERIC_ALLOCATOR
	select DMA_SHARED_BUFFER
	help
	  Chose this option to enable the ION Memory Manager.

config ION_TEGRA
	tristate "Ion for Tegra"
	depends on ARCH_TEGRA && ION
	help
	  Choose this option if you wish to use ion on an nVidia Tegra.

config ION_EXYNOS
	tristate "Ion for Exynos"
	depends on ARCH_EXYNOS && ION
	select CMA
	help
	  Choose this option if you wish to use ion on a Samsung Exynos.

config ION_EXYNOS_STAT_LOG
	bool "Gathering stats for Exynos ION"
	default y
	depends on ION_EXYNOS && DEBUG_FS
	help
	  Say Y if you need to see some stats info via debugfs

if ION_EXYNOS
source drivers/gpu/ion/exynos/Kconfig
endif
