config EXYNOS_DECON_LCD
	depends on EXYNOS_DECON
	bool "Select LCD panel driver"
	
config EXYNOS_DECON_LCD_S6E3FA0
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	#select FB_WINDOW_UPDATE
	tristate "S6E3FA0 AMOLED FHD LCD driver(1080 x 1920)"

config EXYNOS_DECON_LCD_S6E8AA0
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E8AA0 AMOLED HD LCD driver(720 x 1280)"

config EXYNOS_DECON_LCD_S6E8FA0
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E8FA0 AMOLED FHD LCD driver(1080 x 1920)"

config MEIZU_DECON_LCD_S6E3FA3
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "MEIZU S6E3FA3 AMOLED FHD LCD driver(1080 x 1920)"
