#
# Mobicore Configuration
#

if SOC_EXYNOS5422
source "drivers/gud/gud-exynos5422/Kconfig"
endif

if SOC_EXYNOS5430
source "drivers/gud/gud-exynos5430/Kconfig"
endif

if SOC_EXYNOS5433
source "drivers/gud/gud-exynos5433/Kconfig"
endif

if SOC_EXYNOS7420
source "drivers/gud/gud-exynos7420/Kconfig"
endif

source "drivers/gud/TlcTui/Kconfig"
