#
# (C) COPYRIGHT 2012-2013 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the
# GNU General Public License version 2 as published by the Free Software
# Foundation, and any use by you of this program is subject to the terms
# of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained
# from Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
# Boston, MA  02110-1301, USA.
#
#


menuconfig MALI_T72X
	tristate "Mali-T72X support"
	default n
	help
	  Enable this option to build support for the ARM Mali-T72x GPU.

	  To compile this driver as a module, choose M here:
	  this will generate a single module, called mali_kbase.

choice
	prompt "version Configuration"
	depends on MALI_T72X
	default MALI_R5P0_T72X
	help
	  Select the gpu support version.

config MALI_R5P0_T72X
	depends on MALI_T72X
	bool "r5p0 driver"

if MALI_R5P0_T72X
source "drivers/gpu/arm/t72x/r5p0/Kconfig"
endif

endchoice


