#
# BTS driver configuration
#

menuconfig EXYNOS_BTS
	bool "BTS driver support"
	default y
	help
	  Enable BTS (Bus traffic shaper) support

if EXYNOS_BTS

config EXYNOS5433_BTS
	bool "Bus traffic shaper support"
	default y
	depends on SOC_EXYNOS5433
	help
	  Enable BTS (Bus traffic shaper) support

config EXYNOS7420_BTS
	bool "Bus traffic shaper support"
	default y
	depends on SOC_EXYNOS7420
	help
	  Enable BTS (Bus traffic shaper) support

endif
